body {
    background-color: #232323;
    margin: 0;
    font-family: "Avenir";
}
h1 {
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
}
.square {
    margin: 1.667%;
    float: left;
    width: 30%;
    background: purple;
    padding-bottom: 30%;
}
#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}
.selected {
    background-color: blue;
}
